// --------------------------------------------------
// Variables
// --------------------------------------------------

// Theme Colors
$color-accent: #007D8B;
$color-darkGrey: #4A4A4A;
$color-lightGrey: #9B9B9B;

// $color-background: lighten(#141414, 5%);
// $color-text: #f7f7f7;


